name: Python Tests

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      os:
        required: true
        type: string
      pytest-args:
        required: false
        type: string
        default: "-v -ra -W error"

jobs:
  test:
    runs-on: ${{ inputs.os }}

    steps:
      - uses: ewoks-kit/.github/actions/setup-python-package@main
        with:
          python-version: ${{ inputs.python-version }}
          install-extras: "test"

      - name: Resolve distribution name
        shell: bash
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        run: |
          DISTRO_NAME="${REPO_NAME//-/_}"
          echo "DISTRO_NAME=$DISTRO_NAME" >> $GITHUB_ENV

      - name: Run pytest
        run: pytest ${{ inputs.pytest-args }} --pyargs $DISTRO_NAME
